WS/Connected Services/WCF/TransmissorMensagem2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64286/TransmissorMensagem.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFTransmissorMensagens.Models" />
  <xs:element name="InserirMensagem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFTransmissorMensagens.Models" minOccurs="0" name="pacientes" nillable="true" type="q1:Pacientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirMensagemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>